{% extends "base.html" %} {% block title %}Administrador{% endblock %} 
{% block content%}
<!-- Product Section Begin -->
 <section class="product-page spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="product__page__content">
                        <div class="product__page__title">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="section-title">
                                        <h4>
                                            <span><a href="./adm-prod-adicionar" style="color: inherit;"><i class="fa fa-plus"></i> ADICIONAR JOGO</a></span>
                                        </h4>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="section-title">
                                        <h4>
                                            <span><a href="./adm-prod-importar" style="color: inherit;"><i class="fa fa-plus"></i> IMPORTAR JOGOS </a></span>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row card-content" style="display: none;">
                            {% for category in categories %}
                                {% for product in category.products %}
                                    <a href="./adm-prod-editar?id={{product.id}}">
                                        <div class="product__item col-lg-4 col-md-6 col-sm-6">
                                            <div class="product__item__pic set-bg" data-setbg="../static/img/{{product.id}}.{{product.file_type}}">
                                                <div class="ep">{{product.name}}</div>
                                                <div class="view">{{"R$0,00" if not product.price  else "R$ " + product.price|string }}</div>
                                            </div>
                                            <div class="product__item__text">
                                                <ul>
                                                    {% for subCat in product.sub_categories %}
                                                        <li>{{subCat.name}}</li>
                                                    {% endfor %}
                                                </ul>
                                                <h5><a href="#">{{product.description}}</a></h5>
                                            </div>
                                        </div>
                                    </a>

                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="product__pagination">
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- Product Section End -->

{% endblock %}