{% extends "base.html" %} {% block title %}Esqueci a senha{% endblock %} 
{% block content%}
 <!-- Normal Breadcrumb Begin -->
 <section class="normal-breadcrumb set-bg" data-setbg="./static/img/normal-breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="normal__breadcrumb__text">
                    <h2>Esqueci a senha</h2>
                    <p>Bem-vindo à Games Connect.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Normal Breadcrumb End -->

<!-- Signup Section Begin -->
<section class="signup spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login__form">
                    <h3>Alterar senha</h3>
                    <form method="POST">
                        <div class="input__item">
                            <input type="email" id="email" name="email" placeholder="E-mail" value="{{user.email}}">
                            <span class="icon_mail"></span>
                        </div>
                        <div class="input__item">
                            <input type="password" id="password" name="password" placeholder="Nova senha">
                            <span class="icon_lock"></span>
                        </div>
                        <div class="input__item">
                            <input type="password" class="form-group" id="password2" name="password2" placeholder="Confirme a nova senha">
                            <span class="icon_lock"></span>
                        </div>
                        <button type="submit" class="site-btn">Salvar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Signup Section End -->
{% endblock %}

