{% extends "base.html" %} {% block title %}Cadastro{% endblock %} 
{% block content%}
 <!-- Normal Breadcrumb Begin -->
 <section class="normal-breadcrumb set-bg" data-setbg="../static/img/Banner.png">
</section>
<!-- Normal Breadcrumb End -->

<!-- Signup Section Begin -->
<section class="signup spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="normal__breadcrumb__text">
                    <h2>Cadastro</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="login__form">
                    <h3>Cadastro</h3>
                    <form method="POST">
                        <div class="input__item">
                            <input type="email" id="email" name="email" placeholder="E-mail">
                            <span class="icon_mail"></span>
                        </div>
                        <div class="input__item">
                            <input type="text" id="first_name" name="first_name" placeholder="Seu primeiro nome">
                            <span class="icon_profile"></span>
                        </div>
                        <div class="input__item">
                            <input type="text" id="last_name" name="last_name" placeholder="Seu sobrenome">
                            <span class="icon_profile"></span>
                        </div>
                        <div class="input__item">
                            <input type="password" id="password" name="password" placeholder="Senha">
                            <span class="icon_lock"></span>
                        </div>
                        <div class="input__item">
                            <input type="password" class="form-group" id="password2" name="password2" placeholder="Confirme a senha">
                            <span class="icon_lock"></span>
                        </div>
                        <button type="submit" class="site-btn">Cadastrar</button>
                    </form>
                    <h5>Já tem uma conta? <a href="./login">Entre!</a></h5>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login__social__links">
                    <h3>Entre com:</h3>
                    <ul>
                        <li><a href="#" class="facebook"><i class="fa fa-facebook"></i>Entrar com o Facebook</a></li>
                        <li><a href="#" class="google"><i class="fa fa-google"></i> Entrar com o Google</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Signup Section End -->
{% endblock %}

